body {
  background-color:black;
  color: white;
  overflow: scroll;
  font-family:'Calibri';
}

p {
  font-size: 20px;
}

.brighten img {
  -webkit-filter: brightness(100%);
}

.brighten img:hover {
  -webkit-filter: brightness(125%);
}

#overview h1 {
  font-size:  28px;
  font-family:  'Calibri';
  width:100%;
  height:auto;
}

#news div h2 {
    font-size:  20px;
    font-family:  'Calibri';
    padding-top: 20px;
    width:100%;
    height:auto;
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 80px;
  padding: 0 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-inverse {
  background-color: black;
  border-color: black;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px 15px 0;
  font-size: 18px;
  line-height: 20px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
  border-radius: 0px;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-success {
  color: #fff;
  background-color: #777;
  border-color: #777;
}


.btn-success:hover {
    color: black;
    background-color: #FFA600;
    border-color: #FFA600;
}

a:hover,
a:focus {
  color: #54a1e3;
  text-decoration: none;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 500px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #999;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.row {
  margin-right: 0px;
  margin-left: 45px;
}

#workflow_tag {
  margin-right: 0px;
  margin-left: 15px;
}

#info_page {
  margin-right: 0px;
  margin-left: 0px;
}

#hr {
  margin-right: 0px;
  margin-left: 0px;
}

table, tr, td, th {
  max-width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
}

.table-dropdown {
  width: 100%;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #007ACC;
}

.table .inverse_table {
  max-width: 100%;
  word-break: break-all;
  white-space: normal;
  color:black;
}

hr {
  margin:0 0 0 0;
  padding:0 0 0 0;
  background-color: #333;
}

.logo {
  display:block;
  width: 224px;
  height: 84px;
  background: url(/static/img/logo3.svg);
  background-size: 224px 84px;
}

.laser_logo {
  display:block;
  width: 221px;
  height: 84px;
  background: url(/static/img/laser_logo.png);
  background-size: 221px 84px;
}

.tab {
  padding-left:5em;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  padding-right: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

#staticEntries label {
  margin-right: 20px;
  font-size:16px;
  font-family:"Lucida Sans Unicode";
}

#staticEntries div {
  margin-bottom:5px;
}

#staticEntries input {
  color:black;
  width:100%;
  margin-right:20px;
  margin-bottom:5px;
  font-size:16px;
}

#staticEntries select {
  width:20em;
  color:black;
}

#tabs label {
  margin-right: 20px;
  font-size:16px;
  font-family:"Lucida Sans Unicode";
}

#tabs div {
  margin-bottom:5px;
}

#tabs input {
  color:black;
  width:20em;
  margin-right:20px;
  font-size:16px;
}

#tabs select {
  width:20em;
  color:black;
}

.searchInput label {
  font-size:16px;
  font-family:"Lucida Sans Unicode";
}

.searchInput input {
  color:black;
  font-size:16px;
}

.searchInput select {
  color:black;
  font-size:16px;
}
