
<html>

    <head>
        <meta charset="utf-8">
        <title>DYNAMCC</title>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/jquery-ui.css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/underscore.js"></script>
        <script src="/static/js/formValidation.js"></script>
        <script src="/static/js/usage_tables.js"></script>

        {%block head%}  {%end%}
    </head>

    <body>
        <header class="navbar-custom" role="banner">
            <nav role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <!--
                  <a class="navbar-brand" style="width:50%;" href="/">
                      <svg width="100%" height="100%" viewBox="0 0 864 132" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                          <g transform="matrix(1,0,0,1,-626.882,-703.376)">
                              <text x="608.523px" y="832.283px" style="font-family:Candara;font-size:200px;fill:black;">DYNAMCC</text>
                          </g>
                      </svg>
                  </a>
                  <a class="navbar-brand laser_logo" href="/" style="margin-right:40px;"></a>-->
                  <a href="/" class="navbar-brand pull-left dynamcc_logo"></a>
                </div>

                <div>
                  <ul class="nav navbar-nav" style="display:inline-block;margin-top:40px;margin-left:30px;font-size:18px;">
                    <li style="margin-top:15px;"><span><strong>Select your compression algorithm: </strong></span></li>
                    <li><a href="/dynamcc_0/"><strong>DYNAMCC_0</strong></a></li>
                    <li><a href="/dynamcc_R/"><strong>DYNAMCC_R</strong></a></li>
                    <li><a href="/exploder/"><strong>Codon Exploder</strong></a></li>
                    <li><a href="/dynamcc_d/"><strong>DYNAMCC_D</strong></a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->

              </div>
            </nav>
        </header>

        {% block content %} {%end%}

        {%block footer%} {%end%}
        <footer style="padding-top:50px;">
          <p>&copy; The DYNAMCC Project 2019</p>
        </footer>

    </body>
</html>
