{% extends base.html %}
{%block head%}

<script type="text/javascript" src="/static/js/js.cookie.js"></script>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$(function () {
  $('[data-toggle="popover"]').popover()
})

function ShowHide() {
	document.getElementById("input_rank").style.display = 'none';
	document.getElementById("input_usage").style.display = 'none';
	document.getElementById("submit_message").style.display = 'none';
	document.getElementById("bad_input").style.display = 'none';

	//$("#additional_aa").hide();

	$("#rank").click(function() {
		$("#input_rank").show();
		$("#input_usage").hide();
		$("input_rank").prop("required", true);
		$("input_usage").prop("required", false);
	});

	$("#usage").click(function() {
		$("#input_rank").hide();
		$("#input_usage").show();
		$("#input_usage").prop("required", true);
		$("input_rank").prop("required", false);
		if ( $("#usage").is(":checked") ) {
			GetUsage();
			$("input[name=aa]").bind("change", function() {
				CheckforNewAA();
				GetUsage();
			});
			$("input[name=keep_or_remove]").change( function() {
				GetUsage();
				//BindUsage(); // Do not add back
			});
			$("#input_usage").change( function() {
				var maximum_usage = GetUsage();
				checkUsage(maximum_usage);
			});
		}
	});

	if ( $("#usage").is(":checked") ) {
		$("#input_rank").hide();
		$("#input_usage").show();
		$("#input_usage").prop("required", true);
		$("input_rank").prop("required", false);
		$("input[name=aa]").bind("change", function() {
			GetUsage();
		});
		$("input[name=keep_or_remove]").change( function() {
			GetUsage();
		});
		$("#input_usage").change( function() {
			var maximum_usage = GetUsage();
			checkUsage(maximum_usage);
		});
		$("input:file").bind("change", function() {
			if ( $("input:file").val() ) {
				//CheckforNewAA();
				GetUsage();
			}
		});
		$("input[name=keep_or_remove").bind("change", function() {
			GetUsage();
		});
	}

	if ( $("#rank").is(":checked") ) {
		$("#input_rank").show();
		$("#input_usage").hide();
		$("input_rank").prop("required", true);
		$("input_usage").prop("required", false);
	}

	if ( $("#custom_usage").is(":checked") ) {
	    $("#custom_table").show();
	    if ( $("input:file").val() ) {
	    	CheckforNewAA();
	    	GetUsage();
	    }
	}

	$("input[name=usage_table]").click(function() {
		if ( $("input[name=usage_table]:checked").val() != "custom" ) {
			$("#additional_aa").empty();
			GetUsage();
			$("#bad_input").hide();
			$("#submit_message").hide();
			$("#custom_codon_usage").wrap("<form>").closest("form").get(0).reset();
			$("#custom_codon_usage").unwrap();
			$("form").submit(function(event) {
				$(this).unbind('submit').submit();
			});
		} else {
			$("input:file").change(function () {
				Cookies.remove('checkboxValues');
				CheckforNewAA();
				if ( $("input:file").val() ) {
					console.log("file loaded");
					GetUsage();
					$(":checkbox").bind("change", function() {
						GetUsage();
					});
					$("input[name=keep_or_remove").bind("change", function() {
						GetUsage();
					});
				}
			});
		} 
	})


	$("form").submit(function(event) {
		if ( $("input[name=usage_table]:checked").val() != "custom" ) {
			$(this).unbind('submit').submit();
			$("#submit_message").show();
			$("#bad_input").hide();
		}
	});

	$("input[name=hydrophobic]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_hydrophobic input[name=aa]").prop("checked", true);
			$("input[name=aromatic]").prop("checked", true);
			$("input[name=nonpolar]").prop("checked", true);
			$("input[name=small]").prop("checked", true);
		}
		else {
			$("#all_hydrophobic input[name=aa]").prop("checked", false);
			$("input[name=aromatic]").prop("checked", false);
			$("input[name=nonpolar]").prop("checked", false);
			$("input[name=small]").prop("checked", false);
		}
	});

	$("input[name=aromatic]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_aromatic input[name=aa]").prop("checked", true);
		}
		else {
			$("#all_aromatic input[name=aa]").prop("checked", false);
		}
	});

	$("input[name=nonpolar]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_nonpolar input[name=aa]").prop("checked", true);
			$("input[name=small]").prop("checked", true);
		}
		else {
			$("#all_nonpolar input[name=aa]").prop("checked", false);
			$("input[name=small]").prop("checked", false);
		}
	});

	$("input[name=small]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_small input[name=aa]").prop("checked", true);
		}
		else {
			$("#all_small input[name=aa]").prop("checked", false);
		}
	});

	$("input[name=hydrophilic]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_hydrophilic input[name=aa]").prop("checked", true);
			$("input[name=negative]").prop("checked", true);
			$("input[name=positive]").prop("checked", true);
			$("input[name=uncharged]").prop("checked", true);
			$("input[name=small_uncharged]").prop("checked", true);
		}
		else {
			$("#all_hydrophilic input[name=aa]").prop("checked", false);
			$("input[name=negative]").prop("checked", false);
			$("input[name=positive]").prop("checked", false);
			$("input[name=uncharged]").prop("checked", false);
			$("input[name=small_uncharged]").prop("checked", false);
		}
	});

	$("input[name=negative]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_negative input[name=aa]").prop("checked", true);
		}
		else {
			$("#all_negative input[name=aa]").prop("checked", false);
		}
	});

	$("input[name=positive]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_positive input[name=aa]").prop("checked", true);
		}
		else {
			$("#all_positive input[name=aa]").prop("checked", false);
		}
	});

	$("input[name=uncharged]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_uncharged input[name=aa]").prop("checked", true);
			$("input[name=small_uncharged]").prop("checked", true);
		}
		else {
			$("#all_uncharged input[name=aa]").prop("checked", false);
			$("input[name=small_uncharged]").prop("checked", false);
		}
	});

	$("input[name=small_uncharged]").click(function() {
		if ( $(this).is(":checked") ) {
			$("#all_small_uncharged input[name=aa]").prop("checked", true);
		}
		else {
			$("#all_small_uncharged input[name=aa]").prop("checked", false);
		}
	});

}

function GetUsage() {
	var selected_aa = [];
	if ( $("input[name=keep_or_remove]:checked").val() == 'keep' ) {
		$("input[name=aa]:checked").each( function(){ selected_aa.push( $(this).val() ) } );
		var keepers = selected_aa;
		console.log(keepers);
	}
	else if ( $("input[name=keep_or_remove]:checked").val() == 'remove' ) {
		var all_aa = [];
		$("input[name=aa]").each( function(){ all_aa.push( $(this).val() ) } );
		$("input[name=aa]:checked").each( function(){ selected_aa.push( $(this).val() ) } );
		var keepers = _.difference(all_aa, selected_aa);
		console.log(keepers);
	}
	var filtered_keepers = [];
	if ( _.has( highest_usage_mapping, $("input[name='usage_table']:checked").val() ) ){
		var filtered = _.pick(highest_usage_mapping[$("input[name='usage_table']:checked").val()], keepers);
		$.each( filtered, function( key, value ) {
			filtered_keepers.push(_.values(value)[0]);
		});
		var maximum_usage = SetMaxUsage(filtered_keepers);
		return maximum_usage;
	}
	else {
		var input = document.getElementById("custom_codon_usage");
		var fReader = new FileReader();
		var myFile = fReader.readAsText(input.files[0]);
		fReader.onloadend = function(event){
			var custom_usage_hash = {}
			var lines = this.result.split('\n');
			for(var line = 1; line < lines.length - 1; line++){
				var tokens = (lines[line]).split('\t');
				var amino_acid = tokens[1];
				var codon = tokens[0];
				var usage = parseFloat(tokens[2]);
				if ( _.has(custom_usage_hash, amino_acid)) {
					custom_usage_hash[amino_acid].push([codon, usage]);
				} else {
					custom_usage_hash[amino_acid] = [[codon, usage]];
				}
			}
			custom_usage_hash = BubbleSort(custom_usage_hash);
			var highest_usage_codons = GetHighestUsageCodons(custom_usage_hash);
			var filtered = _.pick(highest_usage_codons, keepers);
			$.each( filtered, function( key, value ) {
				filtered_keepers.push(_.values(value)[0]);
			});
			//SetMaxUsage(filtered_keepers);
			var maximum_usage = SetMaxUsage(filtered_keepers);
		}
		console.log(maximum_usage);
		return maximum_usage;
	}
}

function SetMaxUsage(filtered_keepers) {
	var maximum_usage = filtered_keepers.sort()[0];
	if ( String(maximum_usage) == 'undefined' ){
		$("#input_usage").addClass("usage-input-warning");
		$("#input_usage").attr("size", 70);
		$("#input_usage").attr("placeholder", "Warning: You must first specify whether to keep or remove AA from pool.");
	} else {
		if ( $("#input_usage").hasClass("usage-input-warning") ) {
			$("#input_usage").removeClass("usage-input-warning");
		}
		$("#input_usage").attr("size", 20);
		$("#input_usage").attr("placeholder", "max value: " + String(maximum_usage));
	}
	return maximum_usage;
}

function CheckforNewAA(){
	$("#additional_aa").empty();
	var input = document.getElementById("custom_codon_usage");
	var fReader = new FileReader();
	var myFile = fReader.readAsText(input.files[0]);
	fReader.onloadend = function(event){
		var custom_usage_hash = {}
		var lines = this.result.split('\n');
		for(var line = 1; line < lines.length - 1; line++){
			var tokens = (lines[line]).split('\t');
			var amino_acid = tokens[1];
			var codon = tokens[0];
			var usage = parseFloat(tokens[2]);
			if ( _.has(custom_usage_hash, amino_acid)) {
				custom_usage_hash[amino_acid].push([codon, usage]);
			} else {
				custom_usage_hash[amino_acid] = [[codon, usage]];
			}
		}
		var default_keys = [];
		_.each( ecoli, function( val, key ) {
			default_keys.push(key);
		});
		var custom_keys = [];
		_.each( custom_usage_hash, function( val, key ){
			custom_keys.push(key);
		});
		var additional_keys = _.difference( custom_keys, default_keys );
		if ( additional_keys.length > 0 ){
			for ( var i = 0; i < additional_keys.length; i++ ){
				var new_aa = additional_keys[i];
				$("#additional_aa").append("<input type=\"checkbox\" id=\"" + 
					new_aa + "\" name=\"aa\" value=\"" + 
					new_aa + "\" style=\"margin:0px 10px 0px 20px;\" >");
				var checkboxValues = repopulateCheckboxes();
				for ( var key in checkboxValues ){
					if ( key == new_aa && checkboxValues[key] == true ){
						$( "#" + new_aa ).prop("checked", true);
					} else if ( key == new_aa && checkboxValues[key] == false ){
						$( "#" + new_aa ).prop("checked", false);
					}
				}
				$("#additional_aa").append("<label>" + new_aa + "</label>");
			}
			$("#additional_aa").show();
		}
		if ( $("#usage").is(":checked") ) {
			GetUsage();
		}
	}
}

function GetHighestUsageCodons(custom_usage_hash){
	var highest_usage_codons = {};
	for ( var key in custom_usage_hash ) {
		var codon_array = custom_usage_hash[key];
		var codon = codon_array[codon_array.length - 1][0];
		var usage = codon_array[codon_array.length - 1][1];
		highest_usage_codons[key] = {codon : usage};
	}
	return highest_usage_codons;
}

function BubbleSort(custom_usage_hash){
	for (var key in custom_usage_hash){
		var codon_array = custom_usage_hash[key];
		if (codon_array.length > 1){
			for (var i = 0; i < codon_array.length; i++ ){
				for ( var j = 0; j < codon_array.length - 1; j++) {
					if (codon_array[j][1] > codon_array[j + 1][1]){
						swap(codon_array, j, j+1)
					}
				}
			}
		}
	}
	return custom_usage_hash;
}

function swap(codon_array, firstIndex, secondIndex){
	var temp = codon_array[firstIndex];
	codon_array[firstIndex] = codon_array[secondIndex];
	codon_array[secondIndex] = temp;
}


function checkUsage(maximum_usage) {
	$("input[name=input_usage]").on("change", function() {
		if( parseFloat($(this).val()) > parseFloat(maximum_usage) ) {
			$("#usage_warning").text("Maximum Usage: " + maximum_usage).css("color", "red");
			$("form").submit(function(event) {
				event.preventDefault();
			});
			alert("Based on the amino acids you have selected, " + String(maximum_usage) + " is the maximum threshold for codon compression. You have entered a number larger than " + String(maximum_usage) + ", which would result in eliminating codons that have not been selected for removal during the compression process. Please enter a number less than " + String(maximum_usage));
		}
	});
}

function uploadUsageTable() {
	document.getElementById("custom_codon_usage").addEventListener("change", readFile, false);
}

function readFile(event) {
	if(window.FileReader){
		var show_submit_message = true;
		var files = event.target.files;
		var file = files[0];
		var reader = new FileReader();
		var error_message = "The file you entered is not formatted correctly. Please use the Example Input as a template. Fields are tab-separated, and there is an empty line at the end of the file. Note that the first line is ignored.";
		reader.readAsText(file);
		reader.onload = function() {
			var lines = this.result.split('\n');
			if ( lines.length != 66 || lines[lines.length - 1] != "" ){
				$("form").submit(function(event) {
					event.preventDefault();
				});
				show_submit_message = false;
				alert(error_message);
				$("form").submit(function(event) {
					$("#bad_input").show();
				});
				return;
			}
			for(var line = 1; line < lines.length - 1; line++){
				var tokens = (lines[line]).split('\t');
				//console.log(tokens.length);
				if ( tokens.length != 3 || tokens[0].length != 3 || isNaN(tokens[2]) ) {
					$("form").submit(function(event) {
						event.preventDefault();
					});
					show_submit_message = false;
					alert(error_message);
				}
				else {
					if ( show_submit_message ){
						$("form").submit(function(event) {
							$("#submit_message").show();
							$("#bad_input").hide();
							$(this).unbind('submit').submit();
						});
					} else {
						$("form").submit(function(event) {
							$("#bad_input").show();
							event.preventDefault();
						});
					}
				}
			}
			return lines;
		}
	}
	else {
		alert("Your Browser does not support uploading files on this site. Please use Chrome, Firefox, or Safari.");
	}	
}

function SaveState() {
	$(":checkbox").on("change", function() {
		var checkboxValues = {};
		$(":checkbox").each(function(){
			checkboxValues[this.value] = this.checked;
		});
		Cookies.set('checkboxValues', checkboxValues);
	});
}


function repopulateCheckboxes(){
	var checkboxValues = Cookies.getJSON("checkboxValues");
	console.log(checkboxValues);
	if ( checkboxValues ){
		Object.keys( checkboxValues ).forEach( function(element) {
			var checked = checkboxValues[element];
		});
	}
	return checkboxValues;
}

//Cookies.remove('checkboxValues');

</script>

{%end%}

{% block content%}

<body onload="ShowHide();uploadUsageTable();SaveState();">

<div>
<div class="row" style="margin-bottom:30px;">
  <h3>DYNAMCC_0</h3>
</div>

<div>

<form enctype="multipart/form-data" method="post" id="form" name="form" action="/dynamcc_0/">

<div class="row">
	<div class = "col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">Choose your organism:</div>
		<div class="panel-body">
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="Ecoli" style="margin-right:10px;" required>
				<label><em>E. coli</em></label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="yeast" style="margin-right:10px;">
				<label>yeast</label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="human" style="margin-right:10px;">
				<label>human</label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="mouse" style="margin-right:10px;">
				<label>mouse</label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="Dmel" style="margin-right:10px;">
				<label><em>D. melanogaster</em></label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="Cele" style="margin-right:10px;">
				<label><em>C. elegans</em></label>
			</div>
			<div class="col-sm-6">
				<input id="custom_usage" type="radio" name="usage_table" value="custom" style="margin-right:10px;">
				<label>Upload custom usage table</label>
				<div id="custom_table" style="display:none">
					<input type="file" name="table" id="custom_codon_usage">
					<a href="/static/txt/UsageTableExample.txt">Example Input</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class = "col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">Choose amino acids:
		<input type="radio" name="keep_or_remove" value="remove" style="margin:0 5px 0 10px;" required>
		<label>To remove from the pool</label>
		<input type="radio" name="keep_or_remove" value="keep" style="margin:0 5px 0 10px;">
		<label>To keep in the pool</label>
		</div>
		<div class="panel-body">
			<div class="row" style="margin-left:0;">
				<div class="col-sm-6">
					<input type="checkbox" name="aa" value="X" id="X" style="margin-right:10px;">
					<label>STOP</label>
				</div>
				<div class="col-sm-6" id="additional_aa"></div>
			</div>
			<div class="row" style="margin-left:0;">
			<div class="panel panel-default col-sm-6" id="all_hydrophobic">
				<div class="panel-heading">Hydrophobic
					<input type="checkbox" name="hydrophobic" style="margin-left:20px;">
				</div>
				<div class="panel-body">
					<div class="panel panel-default" id="all_aromatic">
						<div class="panel-heading">aromatic
							<input type="checkbox" name="aromatic" style="margin-left:20px;">
						</div>
						<div class="panel-body">
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="W" id="W" style="margin-right:10px;">
								<label>W</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="F" id="F" style="margin-right:10px;">
								<label>F</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="Y" id="Y" style="margin-right:10px;">
								<label>Y</label>
							</div>
						</div>
					</div>
					<div class="panel panel-default" id="all_nonpolar">
						<div class="panel-heading">non-polar aliphatic
							<input type="checkbox" name="nonpolar" style="margin-left:20px;">
						</div>
						<div class="panel-body">
							<div class="row" style="margin-left:0;">
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="M" id="M" style="margin-right:10px;">
								<label>M</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="P" id="P" style="margin-right:10px;">
								<label>P</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="I" id="I" style="margin-right:10px;">
								<label>I</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="L" id="L" style="margin-right:10px;">
								<label>L</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="V" id="V" style="margin-right:10px;">
								<label>V</label>
							</div>
							</div>
							<div class="panel panel-default" id="all_small">
								<div class="panel-heading">small
									<input type="checkbox" name="small" style="margin-left:20px;">
								</div>
								<div class="panel-body">
									<div class="col-sm-2">
										<input type="checkbox" name="aa" value="A" id="A" style="margin-right:10px;">
										<label>A</label>
									</div>
									<div class="col-sm-2">
										<input type="checkbox" name="aa" value="G" id="G" style="margin-right:10px;">
										<label>G</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default col-sm-6" id="all_hydrophilic">
				<div class="panel-heading">Hydrophilic
					<input type="checkbox" name="hydrophilic" style="margin-left:20px;">
				</div>
				<div class="panel-body">
					<div class="panel panel-default" id="all_negative">
						<div class="panel-heading">negatively charged, acidic
							<input type="checkbox" name="negative" style="margin-left:20px;">
						</div>
						<div class="panel-body">
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="D" id="D" style="margin-right:10px;">
								<label>D</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="E" id="E" style="margin-right:10px;">
								<label>E</label>
							</div>
						</div>
					</div>
					<div class="panel panel-default" id="all_positive">
						<div class="panel-heading">positively charged, basic
							<input type="checkbox" name="positive" style="margin-left:20px;">
						</div>
						<div class="panel-body">
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="H" id="H" style="margin-right:10px;">
								<label>H</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="R" id="R" style="margin-right:10px;">
								<label>R</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="K" id="K" style="margin-right:10px;">
								<label>K</label>
							</div>
						</div>
					</div>
					<div class="panel panel-default" id="all_uncharged">
						<div class="panel-heading">polar uncharged
							<input type="checkbox" name="uncharged" style="margin-left:20px;">
						</div>
						<div class="panel-body">
							<div class="row" style="margin-left:0;">
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="T" id="T" style="margin-right:10px;">
								<label>T</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="Q" id="Q" style="margin-right:10px;">
								<label>Q</label>
							</div>
							<div class="col-sm-2">
								<input type="checkbox" name="aa" value="N" id="N" style="margin-right:10px;">
								<label>N</label>
							</div>
							</div>
							<div class="panel panel-default" id="all_small_uncharged">
								<div class="panel-heading">small
									<input type="checkbox" name="small_uncharged" style="margin-left:20px;">
								</div>
								<div class="panel-body">
									<div class="col-sm-2">
										<input type="checkbox" name="aa" value="C" id="C" style="margin-right:10px;">
										<label>C</label>
									</div>
									<div class="col-sm-2">
										<input type="checkbox" name="aa" value="S" id="S" style="margin-right:10px;">
										<label>S</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Enter codon <a tabindex="0" role="button" id="rank_popover" data-toggle="popover" data-trigger="focus" title="Rank" data-content="And here's some amazing content. It's very engaging. Right?">rank</a> or <a tabindex="0" role="button" id="usage_popover" data-toggle="popover" data-trigger="focus" title="Usage" data-content="Different content goes here.">usage</a> cutoff:</div>
		<div class="panel-body">
			<div class="col-sm-6">
				<input type="radio" value="rank" name="compression_method" id="rank" required>
				<label>Rank</label>
				<input type="text" name="input_rank" id="input_rank">
			</div>
			<div class="col-sm-6" id="usage_div">
				<input type="radio" value="usage" name="compression_method" id="usage">
				<label>Usage</label>
				<input type="text" name="input_usage" id="input_usage">
				<span id="usage_warning"></span>
			</div>
		</div>
	</div>	
	<div class="row" style="margin-left:0px;">
		<button type="submit" class="btn btn-default">Compress Codons</button>
		<span id="submit_message" style="color:black;">Processing...</span>
		<span id="bad_input" style="color:red;">Your usage table is formatted incorrectly. Please use the <a href="/static/txt/UsageTableExample.txt">Example Input</a> as a template.</span>
	</div>
	</div>

</div>

</form>

</div>

</div>

</body>

{%end%}