{% extends base_workflow.html %}
{%block head%}

{%end%}

{% block content2%}

<div style="margin:10px 30px 10px 30px;">
<div style="margin-bottom:30px;">
  <h3>Welcome to the Codon Compression web tool</h3>
</div>

<div><p>Saturation mutagenesis is employed in protein engineering and genome-editing effots to generate libraries that span amino acid design space. Our codon compression web tool allows users to compress degenerate codons in a user specified manner. The output provided will be a unique collection of codons for any desired amino acids. </p>
</div>

</div>

{%end%}
