{% extends base_workflow.html %}
{%block head%}

{%end%}

{% block content2%}

<div style="margin-right:30px;">
<div style="margin-bottom:30px;">
  <h3>Welcome to the LASER Database</h3>
</div>

<div><p>The LASER (<b>L</b>earning <b>A</b>ssisted <b>S</b>train <b>E</b>nginee<b>R</b>ing) database is is a comprehensive internet resource for information on strategies in metabolic strain engineering.<br /><br />Our goal is to catalog all known metabolic engineering strategies currently used to develop microbial strains for the production of valuable metabolites. The database currently contains data from over 200 papers using <i>Escherichia coli</i> as a chassis organism, and studies using <i>Saccharomyces cerevisiae</i> are rapidly being incorporated as well. Each database record contains information concerning the design, implementation, and result (product titer, yield) obtained from a given strain design. In the future, this curated database will be used to implement algorithmic approaches to strain engineering that combine human intuition, metabolic modeling, and random approaches to propose metabolic engineering interventions.</p>
</div>

</div>

{%end%}
